{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Добро пожаловать в наше Flask Приложение!</h1>
        <p>Это главная страница.</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% if current_user.is_authenticated %}
            <p>Вы вошли как: {{ current_user.username }}</p>
        {% else %}
            <p>Пожалуйста, <a href="{{ url_for('login') }}">войдите</a> или <a href="{{ url_for('register') }}">зарегистрируйтесь</a>.</p>
        {% endif %}
    </div>
{% endblock %}
